{% extends "admin/base.html" %}

{% block extrahead %}
		<link rel="stylesheet" href="/static/css/flick/jquery-ui-1.8.19.custom.css">
		<link rel="stylesheet" href="/static/css/admin/chosen.css">
		<link rel="stylesheet" href="/static/css/admin/style.css">

		<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui-1.8.19.custom.min.js" type="text/javascript"></script>		
		<script src="/static/js/admin/chosen.min.js" type="text/javascript"></script>
		<script src="/static/js/admin/script.js" type="text/javascript"></script>
{% endblock %}

{% block nav-global %}
<h1>Test</h1>
{% endblock %}
