{% extends "recipeList/base.html" %}

{% block title %}{{recipe.name}} Recipe{% endblock %}

{% block content %}
<h1>{{ recipe.name }} - {{ recipe.cookingTime }} minutes</h1>
<h2>Ingredients</h2>
<ul>
{% for ingredient in recipe.ingredient_set.all %}
  <li><a href="{% url ingredient_detail ingredient.id %}">{{ ingredient.name }}</a>: {{ ingredient.value }} {{ ingredient.unit|default_if_none:"" }} - <em>{{ ingredient.instruction }}</em></li>
{% endfor %}
</ul>

<h2>Instructions</h2>
<ul>
{% for instruction in recipe.instruction_set.all %}
  <li>{{ instruction.text }}</li>
{% endfor %}
</ul>

<h2>Scheduled Meals</h2>
<ul>
{% for meal in recipe.meal_set.all %}
  <li><a href="{% url meal_detail meal.id %}">{{ meal.date|date:'m/d/Y' }}</a></li>
{% endfor %}
</ul>

{% endblock %}
